{% extends './base.html' %}
{% load static %}
{% block title %}Главная страница моего блога{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <nav aria-label="breadcrumb" class="mt-4">
                <ol class="container">
                  <h1>Мои объявления</h1>
                </ol>
                    {% if page_obj %}
                    {% for post in page_obj %}

                          <div class="breadcrumb">
                              <div class="grid">
                                  <h4>{{ post.title}}</h4>
                                  {% for category in post.category.all %}
                                  <h5>Категория: {{ category}}</h5>
                                  {% endfor %}
                                  <small class="text-muted">Создано: {{ post.created_at }}</small>
                                  <small class="text-muted">Автор: {{ post.author }}</small>
                                  <p>{{ post.text|safe }}</p>
                               </div>
                          </div>
            </nav>
                        {% for comment in post.comments.all %}
                             <div class="media-body">
                            <h5 class="mt-0">{{comment.username}}: {{comment.text}}</h5>

                            </div>

{% endfor %}
        {% endfor %}
    </div>
</div>

    {% else %}
       <h2>У вас нет объявлений</h2>
   {% endif %}
{% endblock %}

{% if page_obj %}
    {% block pagination %}
        <nav aria-label="Paginate me">
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Предыдущая</a>
            {% else %}
            <li class="page-item disabled">
              <a class="page-link disabled" href="#" tabindex="-1">Предыдущая</a>
            </li>
            {% endif %}
            {% for i in page_obj.paginator.page_range %}
            {% if i == page_obj.number %}
              <li class="page-item active"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <a class="page-link" href="?page={{ page_obj.next_page_number }}">Следующая</a>
            {% else %}
              <li class="page-item disabled">
                <a class="page-link" href="#">Следующая</a>
              </li>
            {% endif %}
          </ul>
        </nav>
        <br>
    {% endblock %}
{% endif %}